#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

body{
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(230deg, #f5bff5 2%, #d485e8 44%, #6f57cf 100%);
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
}


.cute-title {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #4f4ba1; 
}
h2{
  font-weight: bolder;
  text-align: center;
    /*background: linear-gradient(343deg, #FFF2F6 0%, #EE82EE 29%, #6F57CF 100%);*/
}

h3{
 /* background: linear-gradient(327deg, #FFF2F6 2%, #FFB1FF 24%, #6F57CF 79%);*/
}

span{
  font-weight: bold;
}

.map {
    width: 90%;
    display: flex
;
}

.contact-form {
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 29%;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fdfdfd;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #c279a3;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #a05d83;
}

.swal-title {
  font-family: 'Pacifico', cursive !important;
  font-size: 1.8rem;
  color: #4f4ba1;
}

.swal-popup {
  font-family: 'Nunito', sans-serif !important;
}

.swal-button {
  background-color: #a58be7 !important;
  color: white !important;
  border: none !important;
  font-family: 'Nunito', sans-serif;
}



/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
